.drink{
    margin: 20px;
    
}

#header{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    align-self: center;
    margin-bottom: 1rem;
}

.ingredients{
    margin-top: 5px;

}

li{
    text-align: center;
    width: 250px;
}

#name{
    font-size: large;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    
}

