#container{
    width: 700px;
    height: 600px;
    margin: 70px auto;
    border: 2px solid rgb(125, 181,66);
}
 h2 {
     color: rgb(125, 181, 66);
     text-align: center;
 }

 #projects {
     width: 650px;
     height: 350px;
     margin: 0px auto;
     overflow-y: auto;
 }

 ol li {
     border: 1px dotted black;
     cursor: pointer;
     padding: 5px;
     margin-bottom: 5px;
 }

 ol li:hover{
     background: #6eb7d6;
 }

 #btnAddProject{
    margin-left: 540px;
    margin-bottom: 20px;
}

#btnAddList{
    margin-top: 3rem;
    margin-left: 1.2rem;
}

#project-dialog{
    display: none;
}

#removebtn{
    margin-top: 3rem;
    margin-left: 1rem;
}

#task-dialog {
    display: none;
}